@media screen and (min-width:1025px) and (max-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    body {
        background-color:;
        font-size: 5px;
    }
    
    .cabecalho {
        background-color: #D9967E;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 1em;
    }
    
    .cabecalho-titulo {
        font-family: 'Petit Formal Script', cursive;
        color: #8C0303;
        font-weight: 700; 
        font-size: 7em;
        padding: 0.5em 0em ;
    }
    
    .cabecalho-menu {
        display: flex;
        gap: 2em;
    }
    
    .cabecalho-menu-item {
        display: flex;
        flex-flow: wrap;
        font-family: 'Roboto', sans-serif;
        color: #8C0303;
        font-weight: 700; 
        font-size: 4em;
        padding: 0.5em 0em;
    }
    
    .principal {
        background-image: linear-gradient(75deg, #590202, #8C0303, #D92534);
        box-shadow: 0.25em 0.3125em 0.25em rgba(0, 0, 0, 0.25);
        border-radius: 3.125em;
        padding: 3.47em;
        margin: 10em;
    }
    
    .principal-texto {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        font-size: 400;
        text-align: justify;
        font-weight: 400;
        font-size: 4em;
        color:#F2E0D5;
    }

    .principal-imagem {
        width: 30em;
        box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    }
    
    .clipe {
        width: 1000px;
        height: 500px;
        display: block;
        margin: 0 auto;
        padding-top: 0.5em;
    }
    
    .letra {
        text-align: center;
    }
    
    .letra-titulo {
        font-family: 'Petit Formal Script', cursive;
        color: #8C0303;
        font-weight: 700;
        font-size: 5.5em;
        padding: 0.3em 0em;
    }
    
    .letra-estrofe{
        font-family: 'Roboto', sans-serif;
        color: #590202;
        font-weight: 400; 
        font-size: 4em;
        padding: 0.3em 0em;
    }
    
    .letra-composicao {
        font-family: 'Roboto', sans-serif;
        color: #590202;
        font-weight: 400; 
        font-size: 3em;
        padding: 0.3em 0em;
    }
    
    .artista {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10em;        
    }
    
    .artista-imagem {
        width: 90em;
        border-radius: 5em;
        box-shadow: 0.25em 0.3125em 0.25em rgba(0, 0, 0, 0.50);
    }
    
    .artista-conteudo {
        display: flex;
        flex-direction: column;
    }
    
    .artista-conteudo-titulo {
        font-family: 'Petit Formal Script', cursive;
        color: #8C0303;
        font-weight: 700;
        font-size: 5.5em;
        padding: 0.3em;
        text-align: center;
    }
    
    .artista-conteudo-texto{
        font-family: 'Roboto', sans-serif;
        color: #590202;
        font-weight: 400; 
        font-size: 4em;
        text-align: justify;
    }
    
    .curiosidade {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 10em;
    }
    
    .curiosidade-conteudo{
        display: flex;
        flex-direction: row;
        margin: 10em;
    }
    
    .curiosidade-conteudo-titulo {
        font-family: 'Petit Formal Script', cursive;
        color: #8C0303;
        font-weight: 700;
        font-size: 5.5em;
        padding: 0.3em 0em;
        text-align: center;
    }
    
    .curiosidade-conteudo-texto{
        font-family: 'Roboto', sans-serif;
        color: #590202;
        font-weight: 400; 
        font-size: 4em;
        text-align: justify;
        
    }
    
    .curiosidade-conteudo-citacao {
        font-family: 'Roboto', sans-serif;
        color: #590202;
        font-weight: 400; 
        font-size: 1em;
        text-align: justify;
    }
    
    .curiosidade-conteudo-imagem {
        width: 90em;
        border-radius: 5em;
        box-shadow: 0.25em 0.3125em 0.25em rgba(0, 0, 0, 0.50);
        margin: 2em;
    }
    
    .musica {
        margin: 2.5em 5em;
        padding: 2em;
    }
    
    .musica-titulo {
        font-family: 'Petit Formal Script', cursive;
        color: #8C0303;
        font-weight: 700;
        font-size: 5.5em;
        padding: 0.3em 0em;
        text-align: center;
    }
    .musica-conteudo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-flow: wrap;
    }
    
    .musica-conteudo-album {
        background-color: #D9967E;
        box-shadow: 0.25em 0.3125em 0.25em rgba(0, 0, 0, 0.25);
        padding: 3em;
        margin: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .musica-conteudo-album-imagem {
        box-shadow: 0.25em 0.3125em 0.25em rgba(0, 0, 0, 0.25);
        flex-direction: column;
        display: flex;
    }
    
    .musica-conteudo-album-texto {
        padding: 1em 0em;
        color: #590202;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        font-size: 400;
        text-align: justify;
        font-weight: 400;
        font-size: 4em;
    }
    
    .botao {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(75deg, #590202, #8C0303, #D92534);
        border-radius: 100em;
        border: none;
        box-shadow: 0.25em 0.3125em 0.25em rgba(0, 0, 0, 0.25);
    }
    
    .musica-conteudo-album-texto-botao {
        color: #F2E0D5;
        padding: 1em;
        font-family: 'Roboto', sans-serif;
        font-size: 400;
        text-align: justify;
        font-weight: 400;
        font-size: 1em;
        display: flex;
        flex-direction: column;
    }
    
    .redes {
        padding: 0em 0em 3em 0em;
        display: flex; 
        align-items: center;
        gap: 7em;
    }
    
    .redes-icone {
        color: #590202 ;
        width: 0.3em;
    }
    
    .rodape {
        background-color: #FF9B17;
        padding: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
    
    .rodape-texto {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-weight: 700;
    }
}